.DS_Store
.env
.flaskenv
*.pyc
*.pyo
venv/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
Backend/venv/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
*.code-workspace
frontend/.firebase

# VS Code
.vscode/